{% extends "base.html" %}

{% block infoPage %}
    <div class="container">
        <img class="about-pic col-xs-12 col-sm-4 col-md-4" src= "static/img/about.jpg" alt="Picture of Jessamine cropped in a circle">
        <!-- audio sourced from soundbible.com -->
        <!-- <audio src="static/osprey.mp3" autoplay></audio> -->
        <p class="second-line col-xs-12 col-sm-4">I am a first-year grad student at the University of Michigan specializing in HCI. This semester I am taking SI539, SI588, SI582, and SI500. I'm definitely staying busy! Before coming to the University of Michigan, I worked in design and communications at a nonprofit in Washington DC, and before <i>that</i> I spent two years serving in Nicaragua as a Peace Corps volunteer.</p>
        <p class="second-line col-xs-12 col-sm-4"><br>Though recently you've probably only seen me huddled in front of my computer, I spend most of my free time outside. I love going on long hikes, and spend the summers in Deer Isle, Maine, canoeing around the islands and watching osprey fly overhead (yes, that was an osprey chirping.) Looking forward to Michigan winter!</p>
          <a href="static/resume.pdf" download class="page-scroll btn btn-xl resume-button col-xs-12">Download My Resume</a>
          </div>
{% endblock %}
